{% extends "base.html" %}

{% block title %}Authentication{% endblock %}

{% block content %}


<div class="container mt-5">

  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Login</h2>
    <hr>

    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
  </div>
  
  <p>Donot have an account? <a href="/register/">Register</a></p>
  
  <button type="submit" class="btn btn-primary">Login</button>


</form>
</div>

{% endblock %}